html{
    background-color: black;
}
header h1{
    text-align: center;
    color: white;
}
nav{
    width: 100%;
    background-color: grey;
}
nav li{
    list-style-type: none;
    margin: 1em;
    text-align: center;
}
